PROJECT='webula'
WP_PORT=8015
PMA_PORT=8016
BS_PORT=3016
BS_ON=false
DEBUG=true

MYSQL_ROOT_PASSWORD=root
DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress
DB_HOST=db:3306

WP_VERSION='latest'
FS_METHOD='direct'

WP_ENVIRONMENT_TYPE='local'

DISALLOW_FILE_EDIT=true
NODE_OS_ENV='win32'
